<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
    <nav>
        <a href="/crm/index">Home</a> |
        <a href="/crm/customers">Customers</a> |
    </nav>
</header>